@import "tailwindcss";

@theme {
  --color-color-white: #ffffff;
  --color-green: #00f431;
  --color-soft-gray: #555;
  --color-hard-gray: #282828;
  --color-blue: #212224;
}

:root {
  --color-white: #ffffff;
  --green: #00f431;
  --soft-gray: #555;
  --hard-gray: #282828;
  --blue: #212224;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
